---
import SanityImage from "@/components/astro/SanityImage.astro";
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import SectionLayout from "@/layouts/SectionLayout.astro";
import type { ModuleProps } from "@/scripts/types";

type Props = ModuleProps<"articleQuoteModule">;

const { quote, author, jobTitle, image } = Astro.props;

if (!quote) return null;
---

<SectionLayout>
	<ArticleLayout>
		<blockquote class="quote pb-[2rem]">
			“{quote}”
		</blockquote>
	</ArticleLayout>
	<MainLayout>
		{
			author && (
				<>
					<div class="col-span-1 md:col-start-4">
						<SanityImage
							image={image}
							alt={author}
							width={1200}
							class="rounded-[0.5rem] object-cover w-full h-full"
							sizes="(min-width: 1280px) 1200px, 100vw"
						/>
					</div>
					<div class="paragraph-secondary col-span-3">
						<span class="font-bold">{author}</span>
						{jobTitle && <p>{jobTitle}</p>}
					</div>
				</>
			)
		}
	</MainLayout>
</SectionLayout>
