---
import Footer from "@/components/astro/Footer.astro";
import Header from "@/components/astro/Header.astro";
import Router from "@/components/astro/Router.astro";
import { globalSettingsResult } from "@/scripts/queries";
import { SEO } from "astro-seo";
import "@/styles/global.css";

interface Props {
	title?: string;
}

const { title } = Astro.props;

const globalSettings = await globalSettingsResult;

if (!globalSettings) {
	throw new Error("Global settings not found");
}

const { globalTitle } = globalSettings;

const pageTitle = title ? `${globalTitle} · ${title}` : globalTitle;
---

<!doctype html>
<html lang="en" transition:animate="none">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" href="/favicon.ico" sizes="32x32" />

		<Router />

		<SEO
			description="Novo Holdings Annual Report 2024"
			canonical={Astro.url.href}
			openGraph={{
				basic: {
					url: Astro.url.href,
					title: pageTitle ?? "",
					type: "website",
					image: `${Astro.url.origin}/og-image.png`,
				},
				image: {
					alt: "Novo Holdings Annual Report 2024",
					height: 630,
					url: `${Astro.url.origin}/og-image.png`,
					width: 1200,
				},
			}}
		/>

		<title>{pageTitle}</title>
	</head>
	<body
		class="selection:bg-novo-blue min-h-screen bg-white selection:text-white"
	>
		<Header {...globalSettings} />
		<main class="w-full">
			<div class="mx-auto flex max-w-[100rem] flex-col">
				<slot />
			</div>
		</main>
		<Footer {...globalSettings} />
		<div id="portal" class="absolute z-100 h-0 w-0"></div>
	</body>
</html>

<script>
	import "@/scripts/lenis";
</script>
